@page "/"
<PageTitle>Index</PageTitle>
<h3>Demo to show TeeChart connectivity as a static and dynamic Javascript Chart in Blazor</h3>
To view the Chart working on Blazor select the ' TeeChart' link.

<SurveyPrompt Title="More info about TeeChart components?" />
