@page "/"

<PageTitle>Index</PageTitle>

<h1>TeeChart for Blazor example project</h1>

<p>The project shows the use of TeeChart rendered as SVG and Javascript charts. </p>
  
<p>The Javascript chart includes methods for interactivity with the server based on dotnet's callback options'.</p>

<p>Useful reference pages include:</p>

<ul><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-dotnet-from-javascript?view=aspnetcore-8.0#call-net-generic-class-methods">learn.microsoft.com.</a><br /><i>Call .NET methods from JavaScript functions in ASP.NET Core Blazor</i></ul>
<ul><a href="https://mattjameschampion.com/2022/02/08/calling-net-instance-methods-in-asp-net-core-blazor-directly-from-javascript/">mattjameschampion.com.</a><br /><i>Calling .NET Instance Methods in ASP.NET Core Blazor Directly from JavaScript</i></ul>


