<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.1" targetFramework="net46" requireReinstallation="true" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net46" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net46" />
  <package id="RestSharp" version="106.13.0" targetFramework="net46" />
  <package id="Steema.TeeChart.NET" version="4.2024.5.16" targetFramework="net48" />
</packages>