<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveAuto" />

    <script src="https://www.steema.com/files/public/teechart/html5/latest/src/teechart.js" type="text/javascript"></script>
    <script src="https://www.steema.com/files/public/teechart/html5/latest/src/date.format.js" type="text/javascript"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-4-7/vendor/jquery/jquery.min.js"></script>
    <script src="js/utils.js" type="text/javascript"></script>
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
