<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TeeChart for NET</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <i class="navbold">&nbsp;Composite examples</i>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/101">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Appointments
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shipments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shipments
            </NavLink>
        </li>

        <!-- temporarily commented Gauge, TeeChart series.Legend js script line incorrect till next TeeChart build release-->
        <!--
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/34">
                <span class="oi oi-list-rich" aria-hidden="true"></span> VU Meter
            </NavLink>
        </li>
        -->

        <i class="navbold">&nbsp;Standard Types</i>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/0">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Point Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Area Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/31">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pie Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/32">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Donut Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/5">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bubble Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/6">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Candle Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chartpanel/7">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gantt Chart
            </NavLink>
        </li>

        <!-- temporarily commented Gauge, TeeChart series.Legend js script line incorrect till next TeeChart build release-->
        <!--
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="chartpanel/33">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Circular Gauge
                </NavLink>
            </li>
        -->
        
        </ul>
        </div>

        @code {
            bool collapseNavMenu = true;

            string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            }
        }
