@page "/"

<h3>TeeChart for .NET 5</h3>
<br />
TeeChart for .NET offers several mechanisms to create and modify charts for a variety of Web applications formats. This demo focuses on the use in a NET5 Blazor application
but the principles can be applied to other NET application formats.
<br />
<br />

<h4>TeeChart for the web is headless</h4>

<p>
    TeeChart is now an agnostic motor serverside; it doesn't care for who or what it is creating a chart for. That is useful to allow it to fit to a variety of different web application
    formats (or non-web) as TeeChart can be called, created and designed, to be returned to the caller in the required format. If that format is Javascript no image motor runs in TeeChart
    as it creates text, javascript, to render at the viewer. If an image format is required then the TeeChart server engine will create a Chart Image using SixLabor's ImageSharp to
    avoid any dependency or use of GDI+, now deprecated by Microsoft in server scenarios due to issues when running across multithreaded.
</p>
<br />

<h4>Flexibility</h4>
<br />
<p>
    <b>C# code</b><br /><br />
    Link TeeChart into the datapoints of your C# project using C# to create and populate TeeChart. Export directly to the browser page using default and configurable viewing
    options.<br /><br />

    <b>Javascript</b><br /><br />
    Tweak your charts in the browser page using Javascript. You could even offer an alternative data route for some or all of the Chart data, sourcing directly to the client page viw
    javascript. TeeChart uses an HTML5 canvas and offers you the means to add and plot any element you require, related to a specific data point threshold, position or value if
    required.<br /><br />
</p>
<br />

