<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="TeeChart.MonoDroidTabDemo">
  <application android:label="MonoDroidTabDemo">
  </application>
  <uses-sdk android:minSdkVersion="4" />
</manifest>