@page "/"

<h3>TeeChart Razor component</h3>

<br />

<p>The example shows the use of the TeeChart Razor Component Library in a Blazor project that uses the TeeChart ES6 Javascript Library to render the Charts. All the charts are 
live on the page and may be manipulated via mouse/touch zooms, scrolls and mouseovers.</p>

<br /><p>For further enhancement possibilities see the demos here:</p>
<p><a href="https://www.steema.com/files/public/teechart/html5/latest/demos/index.html" target="_blank">TeeChart Javascript components</a></p>

