<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.steema.teechartfeatures.xamarin.android" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme" android:screenOrientation="portrait" android:icon="@drawable/icon_rounded2_steema_weather"></application>
</manifest>