<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.3.50" targetFramework="net40" requireReinstallation="true" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net40" requireReinstallation="true" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net40" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net40" requireReinstallation="true" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net40" />
  <package id="Steema.TeeChart.NET" version="4.2024.2.9" targetFramework="net40" requireReinstallation="true" />
</packages>